* {
  font-family: sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  margin: 0;
}

.search-bar__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

.MuiFormControlLabel-root {
  padding: 0 0 0 8px;
}


.position_list__container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.position_list__item {
  margin: 1rem;
}

.MuiButtonBase-root,
.MuiButton-root,
.MuiButton-contained,
.MuiButton-containedPrimary {
  align-self: flex-end;

}
