* {
  font-family: sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
}

/*------------------------SEARCH FIELD STYLE----------------------*/

.search-bar__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

.MuiFormControlLabel-root {
  padding: 0 0 0 8px;
}


.position_list__container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/*------------------------SEARCH FIELD STYLE----------------------*/


/*------------------------POSITION LIST ITEM STYLE----------------------*/

.position_list_item {
  width: inherit;
  margin: 1rem;
  display: flex;
  flex-direction: row;
}

.position_list_item__left {
  width: 50%;
  text-align: left;
}

.position_list_item__right {
  width: 50%;
  text-align: right;

}

.position_list_item__left_wrapper {
  display: flex;
}

.position_list_item_title {
  color: #4d92bc;
  font-weight: bold;
  font-size: 1.5rem;
}

.position_list_item_company a{
  color: #7c919e;
  font-weight: bold;
}

.position_list_item_company a:hover,
.position_list_item_company a:active {
  color: #5d6d77;
}

.position_list_item_type {
  color: green;
  font-weight: bold;
  margin-left: 2rem;
}

.position_list_item_date {
  color: #7c919e;
  font-weight: bold;
  text-align: right;

}

.position_list_item_location {
  color: #95a5af;
}

.position_list_item_title:hover,
.position_list_item_title:active {
  cursor: pointer;
  color: #457B9D;
}

/*------------------------POSITION LIST ITEM STYLE----------------------*/


/*------------------------------HEADER-----------------------------------*/

.header {
  width: 100%;
  top: 0;
  left: 0;
  background: #457B9D;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-end;
  z-index: 100;

}

.header__title {
  font-weight: bold;
  font-size: 2.5rem;
  color: #F5F2E0;
  padding: 0.5rem;
  letter-spacing: 16px;
  margin-right: 10%;
}

.header__title:hover,
.header__title:active {
  cursor: pointer;
}

/*------------------------------HEADER-----------------------------------*/


/*------------------------------FOOTER-----------------------------------*/


.footer-container {
  background-color: #457B9D;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 32px;
  color: #F5F2E0;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 2rem;
}

.footer-title {
  padding: 16px;
}

.footer-contact {
  padding: 16px;
}

.footer-whatever {
  padding: 16px;
}

/*------------------------------FOOTER-----------------------------------*/


/*------------------------------POSITION DESCRIPTION STYLE-----------------------------------*/


.position_description__container {
  color: #3f3d34;
  padding: 1rem;
  font-size: 1rem;
}

.position_description_title {
  font-size: 2rem;

}


/*------------------------------POSITION DESCRIPTION STYLE-----------------------------------*/


/*------------------------------CHECKBOX STYLE-----------------------------------*/

.MuiIconButton-colorPrimary {
  color: #457B9D !important;
}

/*------------------------------CHECKBOX STYLE-----------------------------------*/


/*------------------------------LOADING STYLE-----------------------------------*/

.position_list_item_loading {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;

}


/*------------------------------LOADING STYLE-----------------------------------*/
